VITE_PRIVATE_VAULT_FACTORY_ADDRESS=0x0000000000000000000000000000000000000000
VITE_DEPOSIT_TOKEN_ADDRESS=0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913
VITE_CHAIN_ID=8453
VITE_PRIVATE_VAULT_START_BLOCK=48926993
VITE_RPC_URL=https://mainnet.base.org
VITE_EVENT_RPC_URL=https://mainnet.base.org
VITE_EXPLORER=https://basescan.org
